<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" >
        <div class="formGroup"> 
          <label for="projectName">Project Name</label>
          <input
          type="text"
          formControlName="projectName"
          class="form-control"
          id="projectName"
          >
          <span *ngIf="!projectForm.get('projectName').valid && projectForm.get('projectName').touched" class="help-block"> 
            <span *ngIf="projectForm.get('projectName').errors['projectNameIsForbidden']">This project name is invalid </span>

          </span>
        </div>
        <div class="formGroup"> 
          <label for="projectName">Email</label>
          <input
          type="text"
          formControlName="email"
          class="form-control"
          id="email"
          >
        </div>
        <div class="formGroup"> 
          <label for="status">Project Status</label>
          <select id="status" class="form-control">
            <option *ngFor="let status of projectStatuses"> {{status}}</option>

          </select>
        </div>

        <!-- <div class="radio" *ngFor="let status of projectStatuses">
          <label>
            <input
              formControlName="status"
              type="radio"
              [value]="status">{{ status }}
          </label>
        </div> -->
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>

    </div>
  </div>
</div>
